.logo1{
    height: 50px;
}
html{
    width: 100%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.img1{
    height: 400px;
}
.img2{
    margin-top: 200px;
    height: 290px;
}
.head1{
    color:#1B3551;
    font-size: 28px;
    font-weight: 500;
}
.img3{
    height: 100vh;
}
.head3{
    color:#1B3551;
    font-size: 28px;
    font-weight: 500;
    
}
@media only screen and (max-width: 576px) {
    .img1{
        display: none;
    }
    .img2{
        margin-top: 100px;
        height: 200px;
    }
    .txt1{
        font-size: 14px;
    }
    .head1{
        font-size: 18px;
        text-align: left;
    }
    .txt2{
        text-align: left;
        font-size: 14px
    }
    .head3{
        margin-left: 0;
    }
    .img3{
        display: none;
    }
}
.head2{
    color: #1B3551;
    font-weight: 600;
    font-size: 24px;
    padding-top: 60px;
}
.footer{
    margin-top: 30px;
    height: 80px;
    width: 100%;
    background-color: #1B3551;
    color: white;
}

.btnclr{
    background-color: #1B3551;
    color: white;
}
.cnt1{
    border-radius: 5px;
    background-image: linear-gradient(to right,#344E7F,#333C45);
}
.txt3{
    font-size: 14px;
}
.logo3{
    margin-top: 80px;
}
.txt4{
    font-size: 15px;
}
@media only screen and (max-width: 576px) {
    .logo3{
        height: 180px;
    }
    .cnt2{
        margin-left: 16px;
    }
    .txt5{
        font-size: 13px;
        font-weight: 400;
    }
}
.img9{
        height: 32px;
}
.par5{
    margin-top: 4px;
    font-weight: 500;
    font-size: 18px;
}
@media only screen and (max-width: 576px) {
    .img9{
        height: 20px;
    }
    .par5{
        font-size: 16px;
    }
}
.cnt3{
    padding-left: 6%;
}